.navbar {
    height: 80px;
    padding: 10px 30px;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}

@media (max-width: 768px) {
    .navbar {
        padding: 8px;
        position: fixed;
        top: 0;
        z-index: 20;
        left: 0;
        height: 80px;
        right: 0;
        background: white;
        height: fit-content;
        width: 100vw;
    }
}

.logo {
    height: 56px;
}

.logo:hover {
    border: none !important;
}

.logo img {
    height: 100%;
}

.burgerBtn {
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 3px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.burgerBtn:hover {
    background-color: rgba(0, 0, 0, 0.19);
}

.navbar a {
    text-decoration: none;
    color: black;
}

.center h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar .link {
    color: rgba(17, 177, 124, 0.919);
    scale: 1.1;
    margin: 0 10px 0 5px;
}

.navbar a:hover {
    color: rgba(17, 177, 124, 0.919);
    border-bottom: 1px solid rgba(17, 177, 124, 0.919);
}

.navbar li {
    list-style: none;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    flex-wrap: wrap;
}

.center {
    font-size: 18px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    cursor: pointer;

}

.cartIcon {
    position: relative;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 3px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.cartIcon:hover {
    background-color: rgba(0, 0, 0, 0.19);

}

.cartIcon span {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(17, 177, 124, 0.919);
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0px 0px 3px 0px;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}