/* Cards styling */

.link {
    /* max-width: 200px; */
    width: calc(25% - .5rem);
    text-decoration: none;
    color: black;
}

.card {
    width: 100%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .link {
        width: calc(33.333% - .5rem);
    }
}
@media (max-width: 716px) {
    .link {
        width: calc(50% - .5rem);
    }
}

/* @media (max-width: 480px) {
    .link {
        width: calc(100%);
    }
} */

.isNew {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5px, 25%);
    padding: 5px 10px;
    background-color: #fff;
    z-index: 2;
}

.imgCard {
    width: 100%;
    position: relative;
    height: 300px;
    
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img2 {
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.imgCard:hover .img2 {
    opacity: 1;
}

.cardTitle {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.prices {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.oldPrice {
    color: gray;
    font-size: 1rem;
    text-decoration: line-through;
}

.price {
    font-size: 1.2rem;
}