.container {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 3rem;

    display: grid;
    grid-template-areas:
        'filter banner banner banner'
        'filter prod prod prod';
    grid-gap: 2rem 1rem;
}

@media (max-width: 768px) {
    .container {
        margin-top: 80px;
    }
}

@media (max-width: 1032px) {
    .container {
        grid-template-areas:
            'banner banner banner'
            'mobile mobile mobile'
            ' prod prod prod';
        grid-gap: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 .3rem;
        grid-gap: 1rem 0;
    }
}

.productsBanner {
    width: 100%;
    grid-area: banner;
}

.catImg {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
}

.mobileFilter {
    grid-area: mobile;
    position: sticky;
    padding: .5rem 0;
    top: 71px;
    z-index: 5;
    background: white;
}

.mobileFilter button {
    cursor: pointer;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(17, 177, 124, 0.919);
    color: rgba(17, 177, 124, 0.919);
    background: transparent;
}

.mobileFilter button:hover {
    background-color: rgba(17, 177, 124, 0.919);
    color: white;

}

.filters {
    position: sticky;
    grid-area: filter;

    height: fit-content;
    top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin-bottom: 1rem;
}

.catFilter ul {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    list-style: none;
    padding-left: 0;
}

.chbx {
    display: flex;
    gap: .5rem;
}

.products {
    grid-area: prod;
    display: flex;
    flex-direction: column;

}


.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.4);

    z-index: 10;
}

.mobile {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 2rem;
    bottom: 0;
    width: 320px;
    z-index: 12;

    background-color: white;
}