.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;

    gap: 2rem;
}

.filters {
    position: sticky;

    height: 100%;
    top: 50px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin-bottom: 1rem;
}

.catFilter ul {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    list-style: none;
    padding-left: 0;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.catImg {
    width: 70vw;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
}