.featuredProducts {
    max-width: 1200px;
    margin: 4rem auto 0;
    padding: 0 1rem 2rem;


}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.sectionTitle {
    flex: 3;
    text-transform: capitalize;
}

.sectionText {
    flex: 4;
    /* max-width: 50vw; */
    height: 4em;
    font-size: 1rem;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.4);
    overflow-wrap: break-word;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}


/* /// product Cards list field */
.products {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .products {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}